doctype html
html
	include core/mixin
	include includes/head

	body
		.vertical-align
			.middle
				.container
					h1 Todo
					input(value="" placeholder="What needs to be done?")

					ul

	include includes/footer